<?xml version='1.0' encoding='utf-8'?>
<widget id="org.onedegree.duboce" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>One Degree</name>
    <description>
        A simple mobile app to search One Degree's database of social services.
    </description>
    <author email="help@1deg.org" href="https://www.1deg.org">
        One Degree
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
