#opportunity-results .title, #opportunity-results p {
  white-space: normal;
}

.rating {
  float: right;
  margin: 0 8px 0 20px;
}

.rating span {
  position: relative;
  box-shadow: none;
  padding-left: 18px;
}
.rating span:after {
  background-color: transparent !important;
}