header {
  height: 40px;
  text-align: center;
}

header a.header-back-button {
  display: inline-block;
  padding: 0;
  height: 75%;
  width: 30px;
}

.header-home .header-logo {
  margin: 5px 20px;
}

.header-results .header-logo {
  float:right;
  margin: 5px 20px 5px 0;
}

.header-results .results-found {
  display: inline-block;
  float: left;
  margin: 10px 0 5px 50px;
  padding: 0;
  font-size: .8em;
}

.header-details .header-logo {
  margin: 5px 20px;
}

.ui-content {
  margin-top: 20px;
}

#opportunity-results .title, #opportunity-results p {
  white-space: normal;
}

.rating {
  float: right;
  margin: 0 8px 0 20px;
}

.rating span {
  position: relative;
  box-shadow: none;
  padding-left: 18px;
}
.rating span:after {
  background-color: transparent !important;
}

.custom-corners .ui-bar {
  -webkit-border-top-left-radius: inherit;
  border-top-left-radius: inherit;
  -webkit-border-top-right-radius: inherit;
  border-top-right-radius: inherit;
}
.custom-corners .ui-body {
  border-top-width: 0;
  -webkit-border-bottom-left-radius: inherit;
  border-bottom-left-radius: inherit;
  -webkit-border-bottom-right-radius: inherit;
  border-bottom-right-radius: inherit;
}